# Основные зависимости для работы проекта

# Модуль для работы с датами, включая поддержку ISO 8601 форматов и работы с временными зонами
python-dateutil>=2.8.2

# Библиотека для создания QR-кодов (комментарий для qrcode, если закомментированную зависимость планируется использовать)
qrcode[pil]>=7.3.1

# Криптографическая библиотека для работы с сертификатами, ключами и алгоритмами шифрования
cryptography>=41.0.0

# Фреймворк для тестирования Python-приложений, поддерживающий модульные, интеграционные и функциональные тесты
pytest>=7.4.0

# Библиотека для HTTP-запросов, удобного взаимодействия с API, отправки GET/POST-запросов и обработки ответов
requests>=2.31.0

# Библиотека для генерации QR-кодов, которая поддерживает работу с данными разного формата
pyqrcode==1.2.1

# Библиотека для создания веб-интерфейсов на основе Python с минимальными усилиями (используется для админ-панели)
gradio>=3.36.0

# Библиотека для работы с PNG-изображениями (зависимость для библиотеки pyqrcode)
pypng

# Библиотека для работы с процессами и системной информацией, полезна для мониторинга и управления ресурсами
psutil

# Для добавления цветов и форматирования текста в консольных выводах
termcolor

# Библиотека для создания текстовых таблиц, используемых в отчетах
prettytable>=3.7.0

# Библиотека для для визуализации данных.
matplotlib

# memory-profiler
memory-profiler

# objgraph
objgraph

requests>=2.31.0
python-json-logger>=2.0.7
